<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br>

<%= link_to "Add Purchase file", new_purchase_path, class: "btn btn-primary" %>

<br><br>
<table class = "table table-bordered table-striped">
	<thead>
		<tr>
			<th>Purchase Files</th>
			<th>Download Purchase File</th>
			<th>Calculate and Download Sales Taxes File</th>
		</tr>
	</thead>
	<tbody>
		<% @purchases.each do |purchase| %>
			<tr>
				<td><%= purchase.attachment %></td>
				<td><%= link_to "Download", purchase.attachment_url %></td>
				<td><%= link_to "Calculate", calculate_sales_tax_purchase_path(purchase) %></td>
				<td><%= link_to "Delete",  purchase, method: :delete, confirm: "Delete this purchase file?", target: :blank %></td>
			</tr>
		<% end %>
	</tbody>

</table>

